
.container{
    margin: 10px 100px 10px 100px;
}

.top-banner{
    background-color: #33064F;
    border-radius: 10px;
    margin-top: 15px;
    
    display: flex;
    justify-content: center;
   
}
.top-banner-text{
color: white;
padding-left: 10%;
padding-top: 5%;




}
.top-banner-text h1{
font-size: 50px;



}
p{
font-size: 15px;

}

.link-button{
width: 120px;
height: 40px;
border: 5px;
border-radius: 10px;
color: white;
background-color: tomato;
font-weight: 700;
}
.top-banner-image{
width: 100%;
padding-left: 15%;
padding-top: 10%;


}

.transfer-live{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid: template rows 100px repeat(3, 1fr);


}